.Modal {
    position: absolute;
    left: 50%;
    top: 45vh;
    min-width: 320px;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    animation: modal-in 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s backwards;
}
  
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}